# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"

before_script:
  - wget https://commondatastorage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.4.zip -nv
  - unzip -q google_appengine_1.9.4.zip

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements-test.txt
  - pip install coveralls

# command to run tests, e.g. python setup.py test
script:
  - export PYTHONPATH=$PYTHONPATH:google_appengine
  - coverage run runtests.py

after_success: coveralls
